.name {
    font-weight: 700;
    font-size: 35px;
    color: orangered;

}
.name span {
    font-style: italic;
    font-size: 25px;
}
.email {
    font-size: 2rem;
    text-decoration: underline;
}

.email span {
    color:blueviolet;
}